body {background-color: rgb(144, 144, 144);}


.Webpage_Title {
    font-size: 22pt;
    text-align: center;
}


.body_text {
    color: rgb(79, 79, 79);
    font-size: 25px;
}


.center {
    text-align: center;
}
